.Hero
  background-color $green
  padding 110px 0
  &-title
    margin 0
    font-family $primary-font
    font-size 22px
    line-height 0.94
    color $dark-blue
    +from-width($sm)
      font-size 28px
    +from-width($md)
      font-size 60px
  &-description
    line-height 1.64
    color $dark-blue
    margin 2em 0
    +from-width($sm)
      font-size 18px
  &-content
    display grid
    +from-width($md)
      grid-template-columns 1.5fr 1fr
    grid-gap 2em
    &-right
      justify-self center
      display grid
      grid-gap 2em
  &-feature
    color $dark-blue
    &-number
      line-height 0.94
      font-weight 500
      font-size 80px
      font-family $primary-font
      &-white
        color #FFF
    &-description
      line-height 1.41
      margin-left 3em
